$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 80%) !default;   // #999
//$gray-not-so-light:             lighten(#000, 80%) !default;   // #pas eee
$gray-lighter:           lighten(#000, 95%) !default; // #pas eee

$purple-dark: #422a6c;
$pink-color: #880e4f;
$indigo-color: #3f51b5;
$blue-color: #01579b;
$red-color: #D2204C;
$green-color: #0a8f08;

$purple-color: #7109aa;
$pantone_408: #ada59a;
$pantone_5405: #3e647e;
$pantone_130: #ECB813;
$pantone_7417: #FF4B00;

$font-family-sans-serif:  "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$body-bg: $gray-lighter;
$text-color: $gray-darker;
$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// $table-bg: darken($gray, 6);
// $table-bg-accent: darken($gray, 5)b;
// $table-border-color: darken($gray,12);
$btn-primary-bg: $indigo-color;

// $navbar-default-color: white;
// $navbar-default-brand-color: white;
// $navbar-default-bg: $indigo-color;


$mediablock-bg: $purple-dark; 
$connection-bg: $pink-color;//darken(#e51e23, 3%);

$messenger-bg: rgb(225, 149, 63);

$timeline-bg: $pantone_5405;