@import "_settings";
@import "compass";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_variables";

.main-controller {
    background: $gray-darker;
    color:white;

    .leaflet-container {
	    //background: $gray-darker;//#0d5302;
	    background: #8bc34a;
    }
}

#masterlogo {
	position:absolute;
	z-index: 3000;
	display:inline-block;
	background: #03a9f4;
	transform-origin: top left;
	transform:rotate(270deg) translateX(-100%);
	padding: 0.2em 0.5em;
	font-size:1.5em;
	margin-top:13px;

	a {
		color: white;
		text-decoration: none;
	}
}

#mastertitle {
	font-size: 34px;
	margin-top:0px;
	margin-bottom:0px;

	a:not(.summaryeditlink) {
		padding:1.1em 1em 1em 1.4em;
		text-decoration: none;
		color: white;
		display: block;
		&:hover {
			color: $gray-light;
		}
	}
	
	.summaryeditlink {
		font-size: 0.5em;
		float: right;
		top: 4em;
		right: 0.5em;
		display:none;
		position:relative;
		color:white;
		span:hover {
			color: $gray-light;
		}
	}

	&:hover .summaryeditlink {
		display: block;
	}
}

#username, #thingmodelstatus {
	position:absolute;
	right: 2em;
	top:0;
	background: $gray;
	color: white;
	padding:0.4em 1em;
	z-index:1;
}

#username {
	cursor:pointer;
}

#thingmodelstatus {
	display:block;
	position: fixed;
	z-index: 2500;
	right: 22%;
	background: $connection-bg;

	animation-duration: 3s;
	animation-name: glowingconnection;
	animation-iteration-count: infinite;

	span {
		margin-left: 0.6em;
	}

	&:hover {
		background: #ad1457;
		text-decoration: none;
	}
}

@media (max-width: $screen-xs-max) {
	#thingmodelstatus {
		right:auto;
		left:12%;
	}

	#mastertitle a:not(.summaryeditlink) {
		padding:1.4em 0.3em 0.6em 0.3em;
	}

	#masterlogo {
	    transform: none;
	    margin-top: 0;
	    left: 6px;
	}
}

.infoblock, .chat-block {
    //padding:4px;

    border: 6px solid $gray-darker;

    cursor:pointer;
    //background: #3f51b5 url(/images/background-moche.png) repeat;
    background: #3145B1 url(/images/background-moche.png) repeat;

    &:hover {
        border-color:#ecb813;
    }

    &.col-xs-6.col-lg-4 {
		&:nth-child(odd) {
			background-position: -90px -30px;
		}
		&:nth-child(0) {
			background-position: -100px -300px;
		}
		&:nth-child(4) {
			background-position: -50px -80px;
		}
		&:nth-child(3n+1) {
			background-position: -200px -300px;
		}
    }

    h3 {
    	margin:0.6em 0.5em 0em 0em;
    	overflow:hidden;
    	text-overflow:ellipsis;
    	width:100%;
    	flex-shrink: 0;
    }

    .number-area {
        text-align: center;
        align-self: center;
        font-size: 3.5em;

        width:100%;
    }

	//min-height:200px;
}

@media (min--moz-device-pixel-ratio: 1.3),
	(-o-min-device-pixel-ratio: 2.6/2),
	(-webkit-min-device-pixel-ratio: 1.3),
	(min-device-pixel-ratio: 1.3),
	(min-resolution: 1.3dppx) {

	.infoblock, .chat-block {
		background-size: 300px 300px;
	}
}

@media (max-width: $screen-xs-max) {
	.infoblock, .chat-block{

		h3 {
			font-size: 1.5em;
		}

		// .number-area {
		// 	font-size:3em;
		// }
	}
}

a.infoblock {
	display:flex;
	color: white;
	text-decoration:none;
	align-items:center;
	flex-direction:column;


	.infoblockview {
		flex-grow:1;
		display: flex;
	    width:100%;
	    /*height:100%;*/
	}
}

a.infoblock.patients-block {

	.infoblockview {
		position:relative;
	}
	
    .barchart-area {
    	/* This is ugly but Chrome has a bug with 
    	flexbox and the dynamic height of the charts */
		position: absolute;
		top:10%;
		right:0;
		bottom:0;
		left:0;

        padding:0;
        height:90%;

        & > div {
            // height:130px;
            padding:0px 8px 8px 8px;
        }
    }
}

a.mediablock {
	// background: #352847;
	background-color: $mediablock-bg;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content:space-around;

	padding:12px 0 0 12px;
	height:164px;
	max-height:304px;
	overflow: hidden;

	.multimedia-thumbnail.ng-scope {
		margin-right: 12px;
		margin-bottom: 12px;
		box-shadow: 1px 1px 6px rgba(0,0,0,0.55);
		height: 128px;
		width: 128px;
	}

	h3 {
		align-self: flex-start;
		margin-top: -12px;
		margin-left: 12px;
		padding-top: 0.6em;
	}
}

/*@media (max-width: $screen-sm-max) {
    .patients-block {
        .barchart-area {
            padding:0;
            & > div {
                // height:110px;
                padding:0px 30px 15px 30px;
            }
        }
    }
}*/

.chat-block {
	background-color: $messenger-bg;
	background-position: 50px 10px;
	padding: 0 8px 8px 8px;
	display:flex;
	flex-direction:column;

	h3 {
		margin:0;
    	padding:0.6em 0.5em 0em 0em;
	}
}

.summary-block {
    .summary {
        margin: 0;
        padding-bottom:15px;
        max-height: 140px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


#main-map {
	padding:6px;
	height:400px;

	& > div {
		height:100%;
	}
}

@keyframes glowingconnection {
	from {
		background-color:$connection-bg;
	}
	30% {
		background-color:darken($connection-bg, 10%);
	}

	50% {
		background-color:lighten($connection-bg, 5%);
	}

	75% {
		background-color:darken($connection-bg, 15%);
	}
	to {
		background-color:$connection-bg;
	}
}

.timeline-block {
	background-color: $timeline-bg;
	background-position: -30px -40px;
	overflow:hidden;

	h3 {
		margin-bottom:10px;
	}

	ul {
		//margin-left:15px;
	}

	.timeline-block-count {
		position:absolute;
		transform: rotate(90deg) translateY(100%);
		right: 0px;
		bottom: 10px;
		font-size: 30px;
		font-weight: bold;
		opacity: 0.33;
		transform-origin: bottom right;
		text-align: left;
		padding: 0;
		margin: 0;
		font-family: $font-family-monospace;
	}
}