@font-face {
    font-family: 'bridgeiconsregular';
    src: url('/fonts/font4799-webfont.eot');
    src: url('/fonts/font4799-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/font4799-webfont.woff') format('woff'),
         url('/fonts/font4799-webfont.ttf') format('truetype'),
         url('/fonts/font4799-webfont.svg#bridgeiconsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

master-icon {
	font-size:2em;
	display:inline-block;
	float:right;
	margin-top:-4px;
	margin-right:3px;

	.incident {
		font-family: 'bridgeiconsregular';
		position: relative;
		display: inline-block;
		color:orange;
		// line-height:0;
		// font-size:2em;
		// top:0.4em;
		// top:-2px;
	}

	.incident:before {
		content:"i";
		position:absolute;
		color:red;
		z-index:1;
	}

	.incident .type, .response .type, .resource .type, .risk .type {
		color:black;
		position:absolute;
		top:0;
	}
}

