$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

// @import "bootstrap-sass/lib/_variables";

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

// $font-family-sans-serif: "Fira sans", sans-serif;
$body-bg: $gray;
$text-color: $gray-lighter;
$table-bg: darken($gray, 6);
$table-bg-accent: darken($gray, 5);
$table-border-color: darken($gray,12);

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
