@import "_settings";
@import "compass";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_variables";


.chat-area {
	margin-top:4px;
	margin-bottom:2px;
	overflow-y:auto;
	overflow-x:hidden;
	flex-grow:1;
}

.chat-input {
	flex-shrink:0;
	input {
		border-radius:0;
		border:none;
	}
}

.chat-message {
	float:left;

	clear: both;

	margin-right:1em;
	margin-left:0;
	margin-bottom:30px;
	position: relative;
	word-break: break-word;

	.message {
		display: block;
		background: white;
		color: $gray-darker;
		padding: 4px 6px;
		white-space: pre-wrap;
		margin-bottom:0px;
	}

	.chat-infos {
		position:absolute;
		white-space: nowrap;

		.date {
			font-size: 9px;
		}

		.author {
			font-size: 12px;
		}
		.author:after {
			content: " - ";
		}
	}

	&:not(.my-chat-message) {

		.message {
			margin-left:37px;
		}

		.chat-infos {
			left:0px;
		}	

		.message:before {
			content:"";
			position: absolute;
			width: 0;
			height: 0;
			border-top: 5px solid transparent;
			border-right: 10px solid white;
			border-bottom: 5px solid transparent;
			margin-top:5px;
			left: 27px;
		}

		img.identicon {
			top:0px;
			left:-1px;
		}
	}

	img.identicon {
		width:26px;
		height:26px;
		position:absolute;
	}
}

.my-chat-message {
	float: right;
	margin-right:0;
	margin-left:1em;

	img.identicon {
		bottom:0px;
		right:-1px;	
	}

	.author {
		display:none;
	}

	.chat-infos {
		right:0px;
	}

	.message {
		margin-right: 37px;
	}

	.message:after {
		content:"";
		position: absolute;
		width: 0;
		height: 0;
		border-top: 5px solid transparent;
		border-left: 10px solid white;
		border-bottom: 5px solid transparent;
		margin-top:5px;
		right: 27px;
	}
}

.messenger-controller {
	background: $pantone_408;
	margin-bottom:80px;
}

.messenger-fullscreen {
	font-size: 19px;

	.chat-message {

		margin-bottom:50px;

		.message {
			padding: 9px 18px;
			margin-left: 48px;
			// background: $messenger-bg;
		}

		.chat-infos {
			.date {
				font-size: 12px;
			}

			.author {
				font-size: 14px;
			}
		}

		img.identicon {
			width:43px;
			height:43px;
		}

		&:not(.my-chat-message) {

			.message {
				margin-left:54px;
			}

			.message:before {
				margin-top:10px;
				left: 44px;
			}
		}
	}

	.my-chat-message {

		.message {
			margin-right: 54px;
		}

		.message:after {
			margin-top:10px;
			right: 44px;
		}
	}
}

header + .container-fluid.messenger-fullscreen {
	position:absolute;
	top:50px;
	right:0;
	bottom:60px;
	left:0;
	margin-top:0;
	padding-top:20px;
	overflow-y:auto;
	-webkit-overflow-scrolling: touch;
}

footer.chat-input {
	position:absolute;
	right:0;
	bottom:0;
	left:0;
	input {
		border-top: 1px solid darken($pantone_408, 6.5%);
		font-size: 24px;
		height: 60px;	
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

	.main-controller {
		.chat-message {

			img.identicon {
				display:none;
			}

			&:not(.my-chat-message) {
				margin-right:0;

				.message {
					margin-left:10px;
				}

				.message:before {
					left: 0;
				}
			}
		}

		.my-chat-message {
			margin-left:0;

			.message {
				margin-right: 10px;
			}

			.message:after {
				right: 0px;
			}
		}
	}
}

//@media (max-width: $screen-xs-max) {

	// Disable scroll on the dashboard, because double scrolls are bad
	.main-controller .chat-area {
		overflow-y: hidden;
	}
//}
