@import "_settings";
@import "compass";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_variables";

.multimedias-controller, .media-controller {
    background: $gray-darker;
    color:white;

   	.multimedias-link {
		border-radius: 4px;
		box-shadow: 0px 0px 8px rgba(0,0,0,0.65);
		border: 2px solid rgba(0,0,0,0.65);
		margin-bottom:10px;

		img {
			border-radius: 3px;
		}

		&:hover {
			border-color: white;
			// box-shadow: 0px 0px 4px rgba(255,255,255,0.75), 0px 0px 8px rgba(0,0,0,0.75);
		}

		span {
			display:none;
		}	

		&.multimedias-video-link {
			padding:0 2em;
			background:black;

			img {
				height:128px;
				width: 128px;
			}

			span {
				display:inline;
				position:absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				color: white;
				font-size: 48px;
				text-align: center;
				line-height: 121px;
				text-shadow: 0px 0px 11px rgba(0,0,0,0.5);
			}
		}

        &.multimedias-tweet-link {
            max-width: 260px; 
            width: 260px;
            text-decoration: none;
            padding:0.8em;
            font-size:1.2em;
            border-color:transparent;

            &:hover {
                border-color: white;
            }

            span {
                font-size: 2.5em;
                float: left;
                margin-right: 0.4em;
                display: inline-block;
            }
        }
   	} 

   	& > .container-fluid > div {
   		margin: 0 auto;
   	}

    #thing-map {
        border-left-color: $gray-darker;
        border-top-color: $gray-darker;
    }
}

#thing-view  video {
    width:100%;
    // min-height:256px;
    cursor: zoom-in;
}

:fullscreen #thing-view video {
    cursor: zoom-out;
    padding: 0;
	border: none;
	border-radius: 0;
}

#picture-view {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3000;
    text-align: center;
    background: black;
    cursor: zoom-out;


    img {
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    div {
        height:100%;
        text-align: center;
        font: 0/0 a;
    }

    div:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height:100%;
    }
}

#camera-thumbnail {
    cursor: zoom-in;
}

.media-view {
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;

    .img-thumbnail {
        border-radius:0;
        border:none;
        padding:0;
    }
}

.media-properties {
    margin-top:18px;
}

.vlc-video-stream {
    width:324px;
    height:244px;
    background: black;

    embed {
        cursor:pointer;
    }
}