@import "_settings";
@import "compass";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_variables";

.multimedias-controller {
    background: $gray-darker;
    color:white;

   	a.multimedias-link {
		border-radius: 4px;
		box-shadow: 0px 0px 8px rgba(0,0,0,0.65);
		border: 2px solid rgba(0,0,0,0.65);
		margin-bottom:10px;

		img {
			border-radius: 3px;
		}

		&:hover {
			border-color: white;
			// box-shadow: 0px 0px 4px rgba(255,255,255,0.75), 0px 0px 8px rgba(0,0,0,0.75);
		}
   	} 

   	.container-fluid > div {
   		margin: 0 auto;
   	}
}
