@import "_settings";
@import "compass";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_variables";

.multimedias-controller {
    background: $gray-darker;
    color:white;

   	a.multimedias-link {
		border-radius: 4px;
		box-shadow: 0px 0px 8px rgba(0,0,0,0.65);
		border: 2px solid rgba(0,0,0,0.65);
		margin-bottom:10px;

		img {
			border-radius: 3px;
		}

		&:hover {
			border-color: white;
			// box-shadow: 0px 0px 4px rgba(255,255,255,0.75), 0px 0px 8px rgba(0,0,0,0.75);
		}

		span {
			display:none;
		}	

		&.multimedias-video-link {
			padding:0 2em;
			background:black;

			img {
				height:128px;
				width: 128px;
			}

			span {
				display:inline;
				position:absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				color: white;
				font-size: 48px;
				text-align: center;
				line-height: 121px;
				text-shadow: 0px 0px 11px rgba(0,0,0,0.5);
			}
		}
   	} 

   	.container-fluid > div {
   		margin: 0 auto;
   	}
}

#thing-view  video {
    width:100%;
    // min-height:256px;
    cursor: zoom-in;
}

:fullscreen #thing-view video {
    cursor: zoom-out;
    padding: 0;
	border: none;
	border-radius: 0;
}

#picture-view {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3000;
    text-align: center;
    background: black;
    cursor: zoom-out;


    img {
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    div {
        height:100%;
        text-align: center;
        font: 0/0 a;
    }

    div:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height:100%;
    }
}

#camera-thumbnail {
    cursor: zoom-in;
}
