@import "_settings";

.thing-property-triage_status, .thing-property-status, .thing-property-boolean {
	color:$gray-light;

	.glyphicon {
		color:black;
	}
}

.master-table thing-property img {
	max-width:64px;
	max-height:64px;

	&.img-thumbnail {
		padding:0px;
	}
}