node_modules
dist
.tmp
.sass-cache
.tscache
obj
app/bower_components
app/cache.manifest
app/scripts/**/*.d.ts
app/scripts/**/*.js
app/scripts/**/*.js.map
!app/scripts/references/**/*.d.ts
!app/scripts/masterScope.d.ts
test/**/*.js
test/**/*.js.map
test/**/*.d.ts
app/scripts/reference.ts
*.sublime-workspace
+web*.config
+*.csproj
+*.csproj.user
+*.sln
+*.v12.suo