<header>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container-fluid">
	  	<div class="row">
	  		
		    <a class="navbar-brand col-xs-2" ui-sref="{{previousState || 'map.slidder'}}"><span class="glyphicon glyphicon-chevron-left"></span></a>

			<h3 class="col-xs-8">Map background</h3>
	    </div>
	  </div>
	</nav>
</header>

<div class="container-fluid">
	<div class="row layers">
		<button class="btn btn-default col-xs-5 col-sm-2 col-lg-1" type="button" ng-class="{active: layer.active}" ng-click="layerClick(layer)" style="background-image:url(/images/{{layer.iconPath}})" title="{{layer.name}}" ng-repeat="layer in layers" ui-sref="map.slidder">
			</button>
	</div>
</div>
