<div class="container container-fluid">
	<div class="row">
		<h1 class="col-xs-12">Browser checklist</h1>
	</div>

	<div class="row">
		<h3 class="col-xs-8 col-md-3 col-md-offset-4 col-xs-offset-1"></span>Websockets</h3>
		<h3 class="col-xs-1"><span class="glyphicon" ng-class="websockets ? 'glyphicon-ok-circle text-success' : 'glyphicon-remove-circle text-danger'"></h3>
	</div>

	<div class="row">
		<h3 class="col-xs-8 col-md-3 col-md-offset-4 col-xs-offset-1"></span>Canvas</h3>
		<h3 class="col-xs-1"><span class="glyphicon" ng-class="canvas ? 'glyphicon-ok-circle text-success' : 'glyphicon-remove-circle text-danger'"></h3>
	</div>

	<div class="row">
		<h3 class="col-xs-8 col-md-3 col-md-offset-4 col-xs-offset-1"></span>LocalStorage</h3>
		<h3 class="col-xs-1"><span class="glyphicon" ng-class="localstorage ? 'glyphicon-ok-circle text-success' : 'glyphicon-remove-circle text-danger'"></h3>
	</div>

	<div class="row">
		<h3 class="col-xs-8 col-md-3 col-md-offset-4 col-xs-offset-1"></span>Video</h3>
		<h3 class="col-xs-1"><span class="glyphicon" ng-class="video ? 'glyphicon-ok-circle text-success' : 'glyphicon-remove-circle text-danger'"></h3>
	</div>

	<div class="row">
		<h3 class="col-xs-8 col-md-3 col-md-offset-4 col-xs-offset-1"></span>Audio</h3>
		<h3 class="col-xs-1"><span class="glyphicon" ng-class="audio ? 'glyphicon-ok-circle text-success' : 'glyphicon-remove-circle text-danger'"></h3>
	</div>
</div>
