
<div class="infos">
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-default active">
				<input type="radio" name="view" value="" checked="checked">Lapin
			</label>
			<label class="btn btn-default">
				<input type="radio" name="view" value="">Carte
			</label>	
		</div>

	<button type="button" class="btn btn-danger" ng-click="remove()">Remove</button>
		<div class="btn-group">
				<button type="button" class="btn btn-info" ng-click="save()">Save</button>
				<button type="button" class="btn btn-primary" ng-click="saveAndClose()">Save and close</button>
		</div>
	<p class="pull-right">
		<button type="button" class="btn btn-warning" ui-sref="^">Close</button>
	</p>	
</div>
