<h1 id="masterlogo">Master</h1>
<div id="username">John Doe (IC3)</div>

<div class="container-fluid">
	<div class="row">
		<h1 class="col-xs-12" id="mastertitle">
			<a class="summaryeditlink" ui-sref="summary.edit">
				<span class="glyphicon glyphicon-pencil"></span>
			</a>
			<a ui-sref="summary">
				{{title}}
			</a>
		</h1>	
	</div>

	<div class="row">
		<div class="col-sm-5 col-md-4" ng-controller="SlidderCtrl">
			<div class="row responsive-infoblock-column">
				<a class="infoblock col-xs-6 col-lg-4" href="{{infos.Incidents.href}}">
					<h3>Incidents</h3>
					<div class="infoblockview">
						<div class="number-area">{{infos.Incidents.count || 0}}</div>	
					</div>
				</a>
				<a class="col-xs-6 col-lg-4 infoblock victims-block"  href="{{infos.Victims.href}}">
					<h3>Patients</h3>
					<div class="infoblockview">
						<div class="number-area" ng-show="!infos.Victims.count">{{infos.Victims.count || 0}}</div>	
						<div class="col-xs-12 barchart-area" ng-show="infos.Victims.count > 0">
							<div id="victims-chart"></div>
						</div>
					</div>
				</a>	
					
				<a class="col-xs-6 col-lg-4 infoblock" href="{{infos.Risks.href}}">
					<h3>Risks</h3>
					<div class="infoblockview">
						<div class="number-area">{{infos.Risks.count || 0}}</div>	
					</div>
				</a>
				<a class="col-xs-6 col-lg-4 infoblock" href="{{infos.Resources.href}}">
					<h3>Resources</h3>
					<div class="infoblockview">
						<div class="number-area">{{infos.Resources.count || 0}}</div>	
					</div>
				</a>
				<a class="col-xs-6 col-lg-4 infoblock" href="{{infos.Responses.href}}">
					<h3>Responses</h3>
					<div class="infoblockview">
						<div class="number-area">{{infos.Responses.count || 0}}</div>
					</div>
				</a>
				<a class="col-xs-6 col-lg-4 infoblock" href="{{infos.Orders.href}}">
					<h3>Orders</h3>
					<div class="infoblockview">
						<div class="number-area">{{infos.Orders.count || 0}}</div>	
					</div>
				</a>
				<a class="col-xs-6 col-lg-4 infoblock" href="{{infos.Orders.href}}">
					<h3>Orders</h3>
					<div class="infoblockview">
						<div class="number-area">{{infos.Orders.count || 0}}</div>	
					</div>
				</a>
				<a class="col-xs-6 col-lg-4 infoblock" href="{{infos.Orders.href}}">
					<h3>Orders</h3>
					<div class="infoblockview">
						<div class="number-area">{{infos.Orders.count || 0}}</div>	
					</div>
				</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="row" id="main-map"></div>
			<div class="row">
				<a class="col-xs-12 infoblock mediablock" href="{{infos.Multimedias.href}}" ng-controller="MultimediasCtrl">
					<img ng-repeat="media in medias" ng-src="{{media.url}}" alt="" class="multimedia-thumbnail"/>
				</a>
			</div>
		</div>
		<div class="col-sm-2 col-md-2">
			<div class="row chat-block" id="main-chat">
				<h3 ui-sref="messenger">Chat</h3>

				<div class="chat-area" ui-sref="messenger">
					<div class="chat-message my-chat-message">
						<img class="identicon" src="http://media.sec-bridge.eu:8075/identicon/moi-summary/?style=averagewindow" alt=""/>
						<p class="message">J'aime les lapins
et les canards</p>
						<p class="chat-infos">
							<span class="author">Me</span>
							<span class="date">12 minutes ago</span>
						</p>
					</div>

					<div class="chat-message">
						<img class="identicon" src="http://media.sec-bridge.eu:8075/identicon/lorie-summary/?style=averagewindow" alt=""/>
						<p class="message">Moi aussi</p>
						<p class="chat-infos">
							<span class="author">Lorie</span>
							<span class="date">9 minutes ago</span>
						</p>
					</div>
					<div class="chat-message">
						<img class="identicon" src="http://media.sec-bridge.eu:8075/identicon/lorie-summary/?style=averagewindow" alt=""/>
						<p class="message">Gloire à eux</p>
						<p class="chat-infos">
							<span class="author">Lorie</span>
							<span class="date">9 minutes ago</span>
						</p>
					</div>
					<div class="chat-message my-chat-message">
						<img class="identicon" src="http://media.sec-bridge.eu:8075/identicon/moi-summary/?style=averagewindow" alt=""/>
						<p class="message">Bref</p> 
						<p class="chat-infos">
							<span class="author">Me</span>
							<span class="date">1 minute ago</span>
						</p>
					</div>
					<div class="chat-message my-chat-message">
						<img class="identicon" src="http://media.sec-bridge.eu:8075/identicon/moi-summary/?style=averagewindow" alt=""/>
						<p class="message">Je voulais dire que la plus belle chose dans ce monde est peut-être que les lapins soient des êtres crées par Dieu.</p>
						<p class="chat-infos">
							<span class="author">Me</span>
							<span class="date">just now</span>
						</p>
					</div>
				</div>

				<div class="chat-input">
					<input type="text" class="form-control" ng-model="canard" />
				</div>
			</div>
			<div class="row">
				<div class="infoblock timeline-block col-xs-12" id="main-timeline">
					<h3>Timeline</h3>
				</div>
			</div>
		</div>
	</div>	
</div>

<a ui-sref="map.slidder" id="main-map-link"></a>
