<h1 id="masterlogo">Master</h1>
<div id="username">John Doe (IC3)</div>

<div class="container-fluid">
	<div class="row">
		<h1 class="col-xs-12" id="mastertitle">
			<a class="summaryeditlink" ui-sref="summary.edit">
				<span class="glyphicon glyphicon-pencil"></span>
			</a>
			<a ui-sref="summary">
				{{title}}
			</a>
		</h1>	
	</div>

	<div class="row">
		<div class="col-sm-5 col-md-4" ng-controller="SlidderCtrl">
			<div class="row responsive-infoblock-column">
				<a class="infoblock col-xs-6 col-lg-4" href="{{infos.Incidents.href}}">
					<h3>Incidents</h3>
					<div class="infoblockview">
						<div class="number-area">{{infos.Incidents.count || 0}}</div>	
					</div>
				</a>
				<a class="col-xs-6 col-lg-4 infoblock victims-block"  href="{{infos.Victims.href}}">
					<h3>Patients</h3>
					<div class="infoblockview">
						<div class="number-area" ng-show="!infos.Victims.count">{{infos.Victims.count || 0}}</div>	
						<div class="col-xs-12 barchart-area" ng-show="infos.Victims.count > 0">
							<div id="victims-chart"></div>
						</div>
					</div>
				</a>	
					
				<a class="col-xs-6 col-lg-4 infoblock" href="{{infos.Risks.href}}">
					<h3>Risks</h3>
					<div class="infoblockview">
						<div class="number-area">{{infos.Risks.count || 0}}</div>	
					</div>
				</a>
				<a class="col-xs-6 col-lg-4 infoblock" href="{{infos.Resources.href}}">
					<h3>Resources</h3>
					<div class="infoblockview">
						<div class="number-area">{{infos.Resources.count || 0}}</div>	
					</div>
				</a>
				<a class="col-xs-6 col-lg-4 infoblock" href="{{infos.Responses.href}}">
					<h3>Responses</h3>
					<div class="infoblockview">
						<div class="number-area">{{infos.Responses.count || 0}}</div>
					</div>
				</a>
				<a class="col-xs-6 col-lg-4 infoblock" href="{{infos.Orders.href}}">
					<h3>Orders</h3>
					<div class="infoblockview">
						<div class="number-area">{{infos.Orders.count || 0}}</div>	
					</div>
				</a>
				<a class="col-xs-6 col-lg-4 infoblock" href="{{infos.Orders.href}}">
					<h3>Orders</h3>
					<div class="infoblockview">
						<div class="number-area">{{infos.Orders.count || 0}}</div>	
					</div>
				</a>
				<a class="col-xs-6 col-lg-4 infoblock" href="{{infos.Orders.href}}">
					<h3>Orders</h3>
					<div class="infoblockview">
						<div class="number-area">{{infos.Orders.count || 0}}</div>	
					</div>
				</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="row" id="main-map"></div>
			<div class="row">
				<a class="col-xs-12 infoblock mediablock" href="{{infos.Multimedias.href}}" ng-controller="MultimediasCtrl">
					<img ng-repeat="media in medias" ng-src="{{media.url}}" alt="" class="multimedia-thumbnail"/>
				</a>
			</div>
		</div>
		<div class="col-sm-1 col-md-2">chat</div>
	</div>	
</div>

<a ui-sref="map.slidder" id="main-map-link"></a>
