<div id="wrapper">
	<div id="scroller">
		<div id="top-menu" class="canard_panel">
			<div class="content" id="top-menu-scroller">
				
				<h3>Layers</h3>
				<!-- <div ui-view></div> -->
				<!-- <input type="checkbox" ng-model="buildings"> -->
				<div class="buildings-switch make-switch switch-large">
					<input type="checkbox" ng-model="buildings">
				</div>
				<button class="btn btn-default" type="button" ng-class="{active: layer.active}" ng-click="layerClick(layer)" style="background-image:url(/images/{{layer.iconPath}})" title="{{layer.name}}" ng-repeat="layer in layers">
				</button>
			</div>
		</div>
		<div id="main" class="canard_panel">
			<div id="map"></div>
			<div class="map-buttons" style="display:none">
				<button type="button" class="btn btn-default">Set</button>
				<button type="button" class="btn btn-default">Cancel</button>
				<button type="button" class="btn btn-default" onclick="canard.showTopPanel()">Canard</button>
				<a class="btn btn-default" ui-sref="map.layers">Show List</a>
			</div>
		</div>	
	</div>
</div>


