<header>
	<nav class="navbar navbar-default navbar-fixed-top messenger-navbar" role="navigation">
		<div class="container-fluid">
			<div class="row">

			    <a class="navbar-brand col-xs-2" ng-href="{{returnLink}}" tabindex="20"><span class="glyphicon" ng-class="from === 'map' ? 'glyphicon-chevron-left' : 'glyphicon-th'"></span></a>

				<h3 class="col-xs-8">Chat</h3>
			</div>
		</div>
	</nav>
</header>


	
<div class="container-fluid messenger-fullscreen chat-scroll-area">
	<chat-message ng-repeat="message in messages" thing="message"></chat-message>
</div>

<footer class="chat-input">
	<form ng-submit="send()">
		<input type="text" name="message" tabindex="10" class="form-control input-lg" ng-model="messageContent" required ng-disabled="pastSituation"/>
	</form
></footer>
