<header>
	<nav class="navbar navbar-default navbar-fixed-top messenger-navbar" role="navigation">
		<div class="container-fluid">
			<div class="row">

				<a class="navbar-brand col-xs-2" ui-sref="main" ><span class="glyphicon glyphicon-th"></span></a>

				<h3 class="col-sm-6 col-sm-push-1 col-xs-5">Chat</h3>
			</div>
		</div>
	</nav>
</header>

<div class="container-fluid messenger-fullscreen">
	<div class="chat-message my-chat-message">
		<img class="identicon" src="http://media.sec-bridge.eu:8075/identicon/moi-summary/?style=averagewindow" alt=""/>
		<p class="message">J'aime les lapins
			et les canards</p>
			<p class="chat-infos">
				<span class="author">Me</span>
				<span class="date">12 minutes ago</span>
			</p>
		</div>

		<div class="chat-message">
			<img class="identicon" src="http://media.sec-bridge.eu:8075/identicon/lorie-summary/?style=averagewindow" alt=""/>
			<p class="message">Moi aussi</p>
			<p class="chat-infos">
				<span class="author">Lorie</span>
				<span class="date">9 minutes ago</span>
			</p>
		</div>
		<div class="chat-message">
			<img class="identicon" src="http://media.sec-bridge.eu:8075/identicon/lorie-summary/?style=averagewindow" alt=""/>
			<p class="message">Gloire à eux</p>
			<p class="chat-infos">
				<span class="author">Lorie</span>
				<span class="date">9 minutes ago</span>
			</p>
		</div>
		<div class="chat-message my-chat-message">
			<img class="identicon" src="http://media.sec-bridge.eu:8075/identicon/moi-summary/?style=averagewindow" alt=""/>
			<p class="message">Bref</p> 
			<p class="chat-infos">
				<span class="author">Me</span>
				<span class="date">1 minute ago</span>
			</p>
		</div>
		<div class="chat-message my-chat-message">
			<img class="identicon" src="http://media.sec-bridge.eu:8075/identicon/moi-summary/?style=averagewindow" alt=""/>
			<p class="message">Je voulais dire que la plus belle chose dans ce monde est peut-être que les lapins soient des êtres crées par Dieu.</p>
			<p class="chat-infos">
				<span class="author">Me</span>
				<span class="date">just now</span>
			</p>
		</div>
	</div>
</div>

<footer class="chat-input">
	<input type="text" class="form-control input-lg"></nav>
</footer>