<div class="infos">

<div class="btn-group" data-toggle="buttons">
	<label class="btn btn-primary active">
		<input type="radio" name="options" value="" selected> Go to
	</label>
	<label class="btn btn-primary">
		<input type="radio" name="options" value=""> Evacuate area 
	</label>
	<label class="btn btn-primary">
		<input type="radio" name="options" value=""> Setup
	</label>
	<label class="btn btn-primary">
		<input type="radio" name="options" value=""> Setup evacuation point
	</label>
	<label class="btn btn-primary">
		<input type="radio" name="options" value=""> Investigate
	</label>
	<label class="btn btn-primary">
		<input type="radio" name="options" value=""> Take role as
	</label>
	<label class="btn btn-primary">
		<input type="radio" name="options" value=""> Other task
	</label>

</div>

<button type="button" class="btn btn-default">Details</button>
<button type="button" class="btn btn-warning" ui-sref="^">Cancel</button>
<button type="button" class="btn  btn-success" ui-sref="^">Confirm</button>
</div>