<header>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="row">

				<a class="navbar-brand col-xs-2" ng-href="{{returnLink}}"><span class="glyphicon glyphicon-chevron-left"></span></a>

				<h3 class="col-xs-8 identicon">
					<identicon id="id"></identicon>&nbsp;<span ng-show="!unfound">Patient {{thing._masterName}}</span>
					<span class="text-danger ng-hide" ng-show="unfound">Patient not found</span>
				</h3>


			</div>
		</div>
	</nav>
</header>

<div class="container-fluid patient-container-fluid">

	<div class="row" >
		<div class="col-sm-5 col-lg-4 properties-list" ng-class="hideMap ? 'col-xs-12 col-sm-12 col-lg-12' : ''" id="thing-view">

			<div ui-view>
				<div class="row big-advise-icon" ng-if="thing.type == 'AdviseUpdateType'">
					<watch-master-icon thingid="thing.ID"></master-icon>
				</div>
				<div class="row patient">

					<div ng-class="(''+thing[type.key]).length > 60 || type.key === 'temperature' || type.key === 'activity' ? 'col-xs-12' : 'col-xs-6'" ng-class-even="'clearfix'" ng-repeat="type in knowledge">
						<div class="patientInfobox thingInfobox" ng-class="(!alarmDisabled &amp;&amp; thing[type.key] &amp;&amp; type.key.indexOf('alarm') !== -1? 'alarm' : '')" ng-click="alarmDisabled=true">
							<h3 title="{{type.key}}">{{type.name | humanizeCamelCase}}</h3>	
							<div class="infoboxview">
								<thing-property value="thing[type.key]" key="{{type.key}}"></thing-property>
								<div id="canvas-temperature-area" ng-if="type.key === 'temperature'"></div>
								<div id="canvas-activity-area" ng-if="type.key === 'activity'"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-7 col-lg-8" id="thing-map" ng-hide="hideMap"></div>
	</div>
</div>
