<div class="infos">
	<div class="col-sm-8 col-md-9">
		<button type="button" class="btn btn-primary" ui-sref="main">Summary</button>
		<div class="btn-group">
			<button type="button" class="btn btn-default info-number {{types[info.fullName].visible ? '' : 'filtered'}} " ng-repeat="(key,info) in infos" title="{{info.fullName}}" ui-sref="main.table({thingtype:key})">
				<master-icon type="{{info.fullName}}"></master-icon>
				{{info.count}}
			</button>
		</div>	
	</div>
	<div class="col-sm-4 col-md-3">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-primary" ui-sref="main.layers">Layers</button>
			<button type="button" class="btn btn-primary" ui-sref="main.filters">Filters</button>
			<div class="master-camera btn btn-primary">
				<span class=" glyphicon glyphicon-camera"></span>
				<input class="btn btn-primary btn-sm" type="file" accept="image/*,video/*,audio/*" capture ng-file-select="onCapture($files)" id="camera-file-upload"/>
			</div>
			<a class="btn btn-primary" href="/settings"><span class=" glyphicon glyphicon-wrench"></span></a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>