<div class="infos">
<!-- Tout va bien à Oslo -->
<!-- 				<master-icon category="incident" type="automobile"></master-icon>
<master-icon category="incident" type=""></master-icon>
<master-icon category="incident" type="bomb"></master-icon>
-->	
<span class="info-number {{types[info.fullName].visible ? 'selected' : 'disabled'}} " ng-repeat="(key,info) in infos" title="{{info.fullName}}">
	<master-icon category="{{info.category}}" type="{{info.type}}"></master-icon>
	{{info.count}}
</span>
<!-- <span class="info-number">
	<master-icon category="resource" type="health personnel"></master-icon> 3
</span>
<span class="info-number">
	<master-icon category="resource" type="health vehicle"></master-icon> 1
</span>
<span class="info-number">
	<master-icon category="resource" type="fire and rescue personnel"></master-icon> 2
</span>
<span class="info-number">
	<master-icon category="resource" type="fire and rescue vehicle"></master-icon> 0
</span>
<span class="info-number">
	<master-icon category="resource" type="police personnel"></master-icon> 10
</span>
<span class="info-number">
	<master-icon category="resource" type="police vehicle"></master-icon> 3
</span>
<span class="info-number">
	<master-icon category="resource" type="civil defence"></master-icon> 0
</span>
<span class="info-number">
	<master-icon category="resource" type="norwegian people aid"></master-icon> 0
</span>
<span class="info-number">
	<master-icon category="resource" type="red cross"></master-icon> 0
</span>
 -->
<!-- 				<button type="button" class="btn btn-sm btn-default">Canard</button>
<button type="button" class="btn btn-sm btn-default">poisson</button>
-->				<button type="button" class="btn btn-sm btn-default" ui-sref="main">Map</button>
				<button type="button" class="btn btn-sm btn-default" ui-sref="main">Table</button>
				<button type="button" class="btn btn-sm btn-info" ui-sref="main.compass">Lapin</button>
				<button type="button" class="btn btn-sm btn-info" ui-sref="main.layers">Layers</button>
				<button type="button" class="btn btn-sm btn-info" ui-sref="main.filters">Filters</button>
</div>
