<div ui-view autoscroll="false">
	<header>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		  <div class="container-fluid">
		  	<div class="row">
		  		
			    <a class="navbar-brand col-xs-2" href="#" ui-sref="main"><span class="glyphicon glyphicon-th"></span></a>

		    	<h3 class="col-xs-8">{{title}}</h3>

		    	<button ui-sref="summary.edit" type="button" class="btn btn-default navbar-btn pull-right" >Edit</button>
		    </div>
		  </div>
		</nav>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-push-1" ng-bind-html="htmlSummary"></div>
		</div>
	</div>
</div>