<header>
	<nav class="navbar navbar-default navbar-fixed-top master-list-navbar" role="navigation">
	  <div class="container-fluid">
	  	<div class="row">
	  		
		    <a class="navbar-brand col-xs-2" href="#" ng-href="{{returnLink}}"><span class="glyphicon" ng-class="from === 'map' ? 'glyphicon-chevron-left' : 'glyphicon-th'"></span></a>

	    	<h3 class="col-sm-6 col-sm-push-1 col-xs-5">{{typeName}}</h3>
	    </div>
	  </div>
	</nav>
</header>

<div class="container-fluid master-list" ui-view>
	<ul class="pager ng-hide" ng-show="previousPage >= 0">
		<li><a href="#" ui-sref="table({page: previousPage})">Previous</a></li>
	</ul>

	<a class="thing row" ng-repeat="thing in things" ui-sref="thing({ID: thing.ID, from: thingfrom})">
		<div class="col-xs-2 col-sm-1 thing-row-left">
			<div class="pull-right">
				<identicon id="thing.ID"></identicon>
			</div>
		</div>
		<div class="col-xs-8 col-sm-10 thing-row-center">
			{{thing.name}}
		</div>

		<div class="col-xs-2 col-sm-1 thing-row-right">
			<div class="pull-left">
				<master-icon thingid="{{thing.ID}}"></master-icon>
			</div>
		</div>
	</a>

	<p ng-if="things.length == 0">The list is empty</p>

	<ul class="pager ng-hide" ng-show="nextPage >= 0">
		<li><a href="#" ui-sref="table({page: nextPage})">Next</a></li>
	</ul>
</div>