<div class="container-fluid">
<form role="form" class="form form-horizontal col-md-10 col-md-offset-1"
	ng-submit="save()">
	<h1>{{thing.name}}
	<br/><small>{{thing.typeName}}</small>
	</h1>
	{{thing.ID}}
	<hr/>
	<div class="form-group row" ng-repeat="property in properties">
		<label for="input{{property.key}}" class="col-sm-3 control-label">{{property.name || property.key}}</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="input{{property.key}}"name="input{{property.key}}" ng-model="property.newValue"/>
			<span class="help-block">
				<a class="btn btn-default btn-xs" ng-click="property.newValue=property.realtimeValue">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</a>
				{{property.realtimeValue}}
			</span>
		</div>
	</div>
	<input type="submit" style="visibility:hidden" value="Save" />
</form>
</div>
