<header>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container-fluid">
	  	<div class="row">
	  		
		    <a class="navbar-brand col-xs-2" ng-href="{{returnLink}}"><span class="glyphicon glyphicon-chevron-left"></span></a>

		    <h3 class="col-xs-8 identicon">
		    	<identicon id="id" />
	    		{{thing.name}}
	    		<span class="text-danger ng-hide" ng-show="unfound">Thing not found</span>
	    	</h3>


	    	<button type="button" class="btn btn-primary navbar-btn pull-right ng-hide" ng-click="save(true)" ng-show="showSaveButton">Save</button>
	    	<button type="button" class="btn btn-primary navbar-btn pull-right ng-hide" ng-click="save(true)" ng-show="showSendButton">Send</button>

    		<a ui-sref="order({ID:id, from: from})" class="btn navbar-btn pull-right btn-primary ng-hide" ng-show="canOrder">Order</a>

	    	<button type="button" class="btn btn-danger navbar-btn pull-right ng-hide" ng-click="cancelDeleteTimer()" ng-show="deleteTimerRunning">Cancel deletion ({{delay}})</button>

	    	<div class="btn-group navbar-btn-group pull-right" ng-show="!hideToolbarButtons">
	    		<a ui-sref="thing.edit" class="btn navbar-btn btn-default ng-hide" ng-show="canEdit">Edit</a>
	    		<button type="button" ng-click="startDeleteTimer()" class="btn navbar-btn btn-default ng-hide" ng-show="canDelete">Delete</a>
	    	</div>

	    </div>
	  </div>
	</nav>
</header>

<div class="container-fluid">

<div class="row" >
<div class="col-md-6 properties-list" ui-view>

	<div class="row" ng-repeat="(type,value) in thing">
		<h3>{{type}}</h3>	
		<p>{{value}}</p>
	</div>
</div>
<div class="col-md-6" id="thing-map" ng-hide="hideMap"></div>
</div>
</div>
</div>

