<header>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container-fluid">
	  	<div class="row">
	  		
		    <a class="navbar-brand col-xs-2" ng-href="{{returnLink}}"><span class="glyphicon glyphicon-chevron-left"></span></a>

		    <h3 class="col-xs-8 identicon">
		    	<identicon id="id" />
	    		{{thing.name}}
	    		<span class="text-danger ng-hide" ng-show="unfound">Thing not found</span>
	    	</h3>


	    </div>
	  </div>
	</nav>
</header>

<div class="container-fluid">

<div class="row" >
<div class="col-md-6 properties-list">

	<div class="row" ng-repeat="(type,value) in thing">
		<h3>{{type}}</h3>	
		<p>{{value}}</p>
	</div>
</div>
<div class="col-md-6" id="thing-map" ng-hide="hideMap"></div>
</div>
</div>
</div>