<div class="popup-content">
	<button type="button" class="close" ui-sref="^" aria-hidden="true">&times;</button>
	<h1>{{thing.name}}
	<br/><small>{{thing.typeName}}</small>
	</h1>
	<em>{{thing.ID != thing.name ? thing.ID : ''}}</em>
	<hr/>
	<dl>
		<dt ng-repeat-start="property in types[things[id].typeName].tableProperties">
		{{property.property.Name || property.key}}</dt>
		<dd ng-repeat-end>{{thing[property.key]}}</dd>
	</dl>

	<!-- <div class="btn-group"> -->
		<button type="button" class="btn btn-primary" ui-sref="main.thing.edit">Edit</button>
		<button type="button" class="btn btn-info" ui-sref="main.thing.order">Order</button>
		<button type="button" class="btn btn-danger" ng-click="remove()">Remove</button>
		<!-- <input id="deleteSwitch" type="checkbox" data-size="large" data-on-color="danger" data-off-color="danger" data-on-text="ON" data-off-text="Remove"/> -->
		<!-- <button type="button" class="btn btn-default">View</button> -->
	<!-- </div> -->
</div>