<header>
	<nav class="navbar navbar-default navbar-fixed-top master-list-navbar" role="navigation">
	  <div class="container-fluid">
	  	<div class="row">
	  		
		    <a class="navbar-brand col-xs-1" href="#" ng-href="{{returnLink}}"><span class="glyphicon" ng-class="from === 'map' ? 'glyphicon-chevron-left' : 'glyphicon-th'"></span></a>

	    	<h3 class="col-sm-6 col-sm-push-1 col-xs-6 ng-hide" ng-show="filter">Victims{{filter != 'all' ? ' ' + filter : ''}}</h3>

	    	<div class="btn-group navbar-btn-group pull-right" data-toggle="buttons">
			  <label class="btn navbar-btn btn-primary" ng-class="filter === 'all' ? 'active' : ''"
			  ui-sref="victims({filter: 'all', page: undefined})">
			    <input type="radio" name="status"> All
			  </label>
			  <label class="btn navbar-btn btn-primary"
				ng-class="filter === 'black' ? 'active' : ''"
			  	ui-sref="victims({filter: 'black', page: undefined})">
			    <input type="radio" name="status">
			    <div class="triage-light" style="background:black"></div>
			  </label>
			  <label class="btn navbar-btn btn-primary" 
				ng-class="filter === 'red' ? 'active' : ''"
			  	ui-sref="victims({filter: 'red', page: undefined})">
			    <input type="radio" name="status">
			    <div class="triage-light" style="background:red"></div>
			  </label>
			  <label class="btn navbar-btn btn-primary"
				ng-class="filter === 'yellow' ? 'active' : ''"
			  	ui-sref="victims({filter: 'yellow', page: undefined})">
			    <input type="radio" name="status">
			    <div class="triage-light" style="background:yellow"></div>
			  </label>
			  <label class="btn navbar-btn btn-primary"
				ng-class="filter === 'green' ? 'active' : ''"
			  	ui-sref="victims({filter: 'green', page: undefined})">
			    <input type="radio" name="status">
			    <div class="triage-light" style="background:green"></div>
			  </label>
			</div>

	    </div>
	  </div>
	</nav>
</header>

<div class="container-fluid master-list" ui-view>
	<ul class="pager ng-hide" ng-show="previousPage >= 0">
		<li><a href="#" ui-sref="victims({page: previousPage})">Previous</a></li>
	</ul>

	<a class="victim thing row" ng-repeat="thing in things" ui-sref="victim({ID: thing.ID, from: thingfrom})">

		<div class="col-xs-2 col-sm-1 thing-row-left">
			<div class="pull-right">
				<identicon id="thing.ID"></identicon>
			</div>
		</div>
		<div class="col-xs-8 col-sm-10 thing-row-center">
			{{thing.name}}<br ng-show="thing.name"/>
			<span ng-show="thing.transporting">Transporting</span>
			<span ng-show="thing.transferredToDestination &amp;&amp; thing.transferredToDestination != 'Unknown'">Transfered to {{thing.transferredToDestination}}</span>
			<small ng-show="thing.age &amp;&amp; thing.age >= 0">{{thing.age}} years old</small>
			<small ng-if="thing.reportDate">Reported: <strong am-time-ago="thing.reportDate"></strong></small>
		</div>

		<div class="col-xs-2 col-sm-1 thing-row-right">
			<div class="pull-left">
				<div class="triage-light" ng-style="{background:thing.triage_status}"></div>			
			</div>
		</div>
	</a>

	<ul class="pager ng-hide" ng-show="nextPage >= 0">
		<li><a href="#" ui-sref="victims({page: nextPage})">Next</a></li>
	</ul>
</div>